@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-condensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ShadowsIntoLightTwo";
  src: url("../fonts/ShadowsIntoLightTwo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PoiretOne";
  src: url("../fonts/PoiretOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  scroll-behavior: smooth;
}

/*FONTES*/
/*BACKGROUNDS*/
/*CORES*/
/*TAMAHO DAS FONTES*/
/*ESPAÇAMENTO DE LINHA*/
/*ESPAÇAMENTOS*/
/*SOMBRAS*/
/*BREAKPOINTS*/
/*FLEXBOX PADRÃO*/
/*BACKGROUND*/
/*MEDIA QUERIES*/
header {
  position: relative;
  z-index: 9999;
}

.nav__container {
  position: relative;
  z-index: 10000;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2px solid #590212;
  padding: 1rem 3rem;
}
@media (max-width: 768px) {
  .nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.nav__toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #0d0d0d;
  cursor: pointer;
  padding-left: 16px;
}
@media (max-width: 480px) {
  .nav__toggle {
    display: block;
  }
}
.nav__lista {
  list-style: none;
  font-family: "PoiretOne", arial cursive;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .nav__lista {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #000000;
    padding: 1rem 0;
  }
}
.nav__lista.active {
  display: flex !important;
  z-index: 9999;
}
.nav__item {
  padding: 8px;
}
.nav__link {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease;
  display: inline-block;
  position: relative;
}
@media (max-width: 480px) {
  .nav__link {
    color: #f2f2f2;
  }
}
.nav__link:hover {
  transform: scale(1.2);
}
.nav__link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f21d2f;
  transition: width 0.4s;
  position: absolute;
  bottom: -4px;
  left: 0;
}
.nav__link:hover::after {
  width: 100%;
}

.home__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  gap: 4rem;
  padding: 4rem 1rem;
  position: relative;
  background: url("../image/header1900px.webp");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    background: url("../image/header1024px.webp");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {
  .home__container {
    display: flex;
    justify-content: center;
    align-items: justify;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.8rem;
    background: url("../image/header890px.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 480px) {
  .home__container {
    gap: 1.5rem;
    background: url("../image/header1900px.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }
}
.home__texto {
  flex: 1;
  text-align: center;
}
@media (max-width: 1024px) {
  .home__texto {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 15px;
  }
}
.home__title {
  font-family: "PoiretOne", arial cursive;
  font-size: 2.5rem;
  color: #f2f2f2;
  font-weight: bold;
  border-bottom: none;
  padding: 16px;
  text-align: center;
}
@media (max-width: 1024px) {
  .home__title {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .home__title {
    font-size: 2.5rem;
  }
}
.home__p {
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.5rem;
  text-indent: none;
  text-align: justify;
  line-height: 1.2;
  padding: 16px;
  color: #f2f2f2;
}
.home__botao {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #0d0d0d;
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.2rem;
  border: 2px solid #0d0d0d;
  border-radius: 20px;
  padding: 0.5rem 4rem;
  box-shadow: 0.3px 0.3px 5px #000000;
  transition: 0.3s ease;
  display: inline-block;
}
.home__botao:hover {
  color: #f21d2f;
  background-color: #000000;
  transform: scale(1.05);
  box-shadow: 0.3px 0.3px 5px #000000;
}
.home__imagem {
  flex: 1;
}
.home__img {
  border-radius: 5px;
  box-shadow: 1px 1px 20px #000000;
}

#historia {
  padding-bottom: 2rem;
}

.historia__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
  padding: 8px;
}
@media (max-width: 1024px) {
  .historia__container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.historia__texto {
  width: 90%;
}
@media (max-width: 1024px) {
  .historia__texto {
    max-width: 95%;
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .historia__texto {
    max-width: 100%;
    padding: 8px;
  }
}
.historia__title {
  font-family: "PoiretOne", arial cursive;
  font-size: 2.5rem;
  color: #000000;
  font-weight: bold;
  border-bottom: 1px solid #000000;
  padding: 16px;
}
.historia__p {
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.5rem;
  text-indent: 48px;
  text-align: justify;
  line-height: 1.2;
  padding: 16px;
}
.historia__imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.historia__figcaption {
  font-family: "PoiretOne", arial cursive;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f2f2f2;
  position: absolute;
  bottom: 5px;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #f2f2f2;
  font-size: 0.9rem;
  text-align: center;
}

/*
.swiper-button-next,
.swiper-button-prev {
  color: variables.$cor6; // cor das setas (ajusta se quiser)
  top: auto; // tira o posicionamento no topo
  bottom: 10px; // posiciona as setas embaixo da imagem
  width: 30px; // tamanho das setas
  height: 30px;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    bottom: 5px; // ajusta um pouco mais em telas pequenas
  }
}
*/
.fundador__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 48px;
}
@media (max-width: 1024px) {
  .fundador__container {
    padding: 32px;
  }
}
@media (max-width: 768px) {
  .fundador__container {
    padding: 16px;
  }
}
@media (max-width: 480px) {
  .fundador__container {
    padding: 8px;
  }
}
.fundador__texto {
  width: 80%;
}
@media (max-width: 1024px) {
  .fundador__texto {
    width: 100%;
  }
}
.fundador__title {
  font-family: "PoiretOne", arial cursive;
  font-size: 2.5rem;
  color: #000000;
  font-weight: bold;
  border-bottom: 1px solid #000000;
  padding: 16px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .fundador__title {
    text-align: center;
  }
}
.fundador__boxquote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  padding: 16px;
  box-shadow: 0.3px 0.3px 5px #000000;
  background: url("../image/fundador_spz_logo_700px.webp");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .fundador__boxquote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    background-position: center center;
  }
}
@media (max-width: 768px) {
  .fundador__boxquote {
    flex-direction: column;
    background: url("../image/fundador_spz_logo_500px.webp");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 480px) {
  .fundador__boxquote {
    background: url("../image/fundador_spz_logo_400px.webp");
    background-size: contain;
    background-position: top top;
    background-repeat: no-repeat;
  }
}
.fundador__p {
  max-width: 50%;
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.5rem;
  text-indent: 48px;
  text-align: justify;
  line-height: 1.2;
  padding: 16px;
}
@media (max-width: 1024px) {
  .fundador__p {
    max-width: 90%;
  }
}
.fundador__imagem-citacao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.fundador__img {
  border-radius: 5px;
}
.fundador__blockquote {
  font-family: "ShadowsIntoLightTwo", arial, cursive;
  font-size: 1.5rem;
  text-align: center;
}

.evolucao__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 2.5rem;
}
.evolucao__container-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2.5rem;
  padding: 2rem 10rem;
}
@media (max-width: 1024px) {
  .evolucao__container-img {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
}
.evolucao__title {
  font-family: "PoiretOne", arial cursive;
  font-size: 2.5rem;
  color: #000000;
  font-weight: bold;
  border-bottom: none;
  padding: 16px;
  text-align: center;
}
@media (max-width: 768px) {
  .evolucao__title {
    font-size: 2.5rem;
  }
}
.evolucao__img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0.3px 0.3px 5px #000000;
}
@media (max-width: 1024px) {
  .evolucao__img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  .evolucao__img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .evolucao__img {
    width: 250px;
    height: 250px;
  }
}
.evolucao__container-txt {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: url("../image/evolucao_bg_img1900px.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .evolucao__container-txt {
    min-height: 500px;
    background: url("../image/evolucao_bg_img1024px.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {
  .evolucao__container-txt {
    background: url("../image/evolucao_bg_img890px.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 480px) {
  .evolucao__container-txt {
    background: url("../image/evolucao_bg_img1900px.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.evolucao__p {
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.5rem;
  text-indent: 48px;
  text-align: justify;
  line-height: 1.5;
  padding: 16px;
  max-width: 40%;
  color: #f2f2f2;
}
@media (max-width: 1024px) {
  .evolucao__p {
    max-width: 100%;
    text-align: center;
  }
}
.evolucao__link {
  text-decoration: none;
  color: #f21d2f;
  transition: all 0.3s ease;
}
.evolucao__link:hover {
  color: #808080;
  text-decoration: underline;
}

.curiosidades__container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 48px;
  background: url("../image/curiosidades_bg_sworks_1900px.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .curiosidades__container {
    background: url("../image/curiosidades_bg_sworks_1024px.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {
  .curiosidades__container {
    background: url("../image/curiosidades_bg_sworks_890px.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 24px;
  }
}
@media (max-width: 480px) {
  .curiosidades__container {
    background: url("../image/curiosidades_bg_sworks_1900px.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.curiosidades__textcontainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .curiosidades__textcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.curiosidades__p {
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.5rem;
  text-indent: 48px;
  text-align: justify;
  line-height: 1.5;
  padding: 16px;
  max-width: 40%;
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0.3px 0.3px 5px #000000;
}
@media (max-width: 1024px) {
  .curiosidades__p {
    max-width: 90%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .curiosidades__p {
    padding: 8px;
  }
}
.curiosidades__title {
  font-family: "PoiretOne", arial cursive;
  font-size: 2.5rem;
  color: #000000;
  font-weight: bold;
  border-bottom: none;
  padding: 16px;
  text-align: center;
  margin: auto;
}
.curiosidades__atletascontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 24px;
}
@media (max-width: 1024px) {
  .curiosidades__atletascontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 75%;
  }
}
@media (max-width: 768px) {
  .curiosidades__atletascontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    max-width: 95%;
  }
}
.curiosidades__atleta1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  background: url("../image/curiosidades_peter600px.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 550px;
  min-width: 300px;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .curiosidades__atleta1 {
    min-height: 450px;
    min-width: 200px;
  }
}
@media (max-width: 768px) {
  .curiosidades__atleta1 {
    background: url("../image/curiosidades_peter600px.webp");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 250px;
    min-width: 450px;
  }
}
@media (max-width: 480px) {
  .curiosidades__atleta1 {
    background: url("../image/curiosidades_peter400px.webp");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: 350px;
  }
}
.curiosidades__atleta2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  background: url("../image/curiosidades_loic600px.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 550px;
  min-width: 300px;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .curiosidades__atleta2 {
    min-height: 450px;
    min-width: 200px;
  }
}
@media (max-width: 768px) {
  .curiosidades__atleta2 {
    background: url("../image/curiosidades_loic600px.webp");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 250px;
    min-width: 450px;
  }
}
@media (max-width: 480px) {
  .curiosidades__atleta2 {
    background: url("../image/curiosidades_loic400px.webp");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: 350px;
  }
}
.curiosidades__atleta3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  background: url("../image/curiosidades_annika600px.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 550px;
  min-width: 300px;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .curiosidades__atleta3 {
    min-height: 450px;
    min-width: 200px;
  }
}
@media (max-width: 768px) {
  .curiosidades__atleta3 {
    background: url("../image/curiosidades_annika600px.webp");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 250px;
    min-width: 450px;
  }
}
@media (max-width: 480px) {
  .curiosidades__atleta3 {
    background: url("../image/curiosidades_annika400px.webp");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: 350px;
  }
}
.curiosidades__atleta {
  text-decoration: none;
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.2rem;
  color: #0d0d0d;
  padding-right: 0.5rem;
}
.curiosidades__atleta1:hover, .curiosidades__atleta2:hover, .curiosidades__atleta3:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 20px #000000;
}
@media (max-width: 768px) {
  .curiosidades__atleta1:hover, .curiosidades__atleta2:hover, .curiosidades__atleta3:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 480px) {
  .curiosidades__atleta1:hover, .curiosidades__atleta2:hover, .curiosidades__atleta3:hover {
    transform: scale(1.05);
  }
}

.galeria {
  padding: 4rem 2rem;
}
.galeria__container {
  max-width: 650px;
  margin: 0 auto;
}
.galeria__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "PoiretOne", arial cursive;
  font-size: 2.5rem;
  color: #000000;
  font-weight: bold;
  border-bottom: 1px solid #000000;
  padding: 16px;
  margin-bottom: 1rem;
}
.galeria__p {
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.5rem;
  padding-top: 8px;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 16px;
}
.galeria__legenda1 {
  font-family: "PoiretOne", arial cursive;
  font-size: 1.2rem;
  color: #f2f2f2;
  position: absolute;
  bottom: 25px;
  width: 100%;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.galeria__legenda {
  font-family: "PoiretOne", arial cursive;
  font-size: 1.2rem;
  color: #f2f2f2;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.galeria__img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.swiper-slide figure {
  position: relative;
}

.footer__container {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 2rem;
  padding: 16px;
  background-color: #000000;
}
@media (max-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
  }
}
.footer__textcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__p {
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.2rem;
  color: #f2f2f2;
  text-align: center;
  padding: 4px;
}
.footer__autor {
  font-family: "Roboto-condensed", arial, cursive;
  color: #f2f2f2;
  font-weight: 500;
  font-size: 1.5rem;
}
.footer__link, .footer__redessociais a {
  text-decoration: none;
  color: #f2f2f2;
}
.footer__redessociais {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 20px;
}
.footer__redessociais a {
  color: white;
  font-size: 2.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}
.footer__redessociais a:hover, .footer__link:hover {
  transform: scale(1.4);
  color: crimson;
}

/*# sourceMappingURL=style.css.map */
