@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-condensed";
  src: url("../../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ShadowsIntoLightTwo";
  src: url("../../fonts/ShadowsIntoLightTwo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PoiretOne";
  src: url("../../fonts/PoiretOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  scroll-behavior: smooth;
}

/*FONTES*/
/*BACKGROUNDS*/
/*CORES*/
/*TAMAHO DAS FONTES*/
/*ESPAÇAMENTO DE LINHA*/
/*ESPAÇAMENTOS*/
/*SOMBRAS*/
/*BREAKPOINTS*/
.nav__container {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2px solid #590212;
  padding: 1rem 3rem;
}
@media (max-width: 810px) {
  .nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 510px) {
  .nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.nav__lista {
  list-style: none;
  font-family: "PoiretOne", arial cursive;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav__item {
  padding: 8px;
}
.nav__link {
  color: #0d0d0d;
  text-decoration: none;
  display: inline-block;
  text-shadow: 0px 0px 0.5px #0d0d0d;
  transition: color 0.3s ease;
  display: inline-block;
  position: relative;
}
.nav__link:hover {
  color: #590212;
  transform: scale(1.2);
}
.nav__link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #0d0d0d;
  transition: width 0.4s;
  position: absolute;
  bottom: -4px;
  left: 0;
}
.nav__link:hover::after {
  width: 100%;
}

.home__container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  padding: 4rem 2rem;
  background-image: url("/image/header1900px.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
@media (max-width: 1024px) {
  .home__container {
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
@media (max-width: 810px) {
  .home__container {
    flex-direction: column;
    text-align: justify;
    flex-wrap: wrap;
    gap: 1.8rem;
  }
}
@media (max-width: 510px) {
  .home__container {
    flex-direction: column;
    text-align: justify;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
.home__texto {
  flex: 1;
  text-align: center;
}
.home__title {
  font-family: "PoiretOne", arial cursive;
  color: #f2f2f2;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 1rem;
}
@media (max-width: 1024px) {
  .home__title {
    font-size: 3.5rem;
    color: red;
  }
}
@media (max-width: 810px) {
  .home__title {
    font-size: 2.5rem;
    color: blue;
  }
}
@media (max-width: 510px) {
  .home__title {
    font-size: 2.5rem;
    color: blueviolet;
  }
}
.home__p {
  font-family: "PoiretOne", arial cursive;
  color: #f2f2f2;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 600;
  padding-bottom: 2rem;
}
@media (max-width: 1024px) {
  .home__p {
    color: black;
  }
}
@media (max-width: 810px) {
  .home__p {
    color: blue;
  }
}
@media (max-width: 510px) {
  .home__p {
    color: blueviolet;
  }
}
.home__botao {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #0d0d0d;
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.2rem;
  border: 2px solid #0d0d0d;
  border-radius: 20px;
  padding: 0.5rem 4rem;
  box-shadow: 0.3px 0.3px 5px #000000;
  transition: 0.3s ease;
  display: inline-block;
}
.home__botao:hover {
  color: #f21d2f;
  background-color: #000000;
  transform: scale(1.05);
  box-shadow: 0.3px 0.3px 5px #000000;
}
.home__imagem {
  flex: 1;
}
.home__img {
  border-radius: 5px;
  box-shadow: 1px 1px 20px #000000;
}

#historia {
  padding-bottom: 2rem;
}

.historia__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px;
}
.historia__texto {
  width: 60%;
  height: fit-content;
}
.historia__title {
  font-family: "PoiretOne", arial cursive;
  font-size: 2.5rem;
  font-weight: bolder;
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
}
.historia__p {
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.5rem;
  text-indent: 48px;
  padding-top: 8px;
  text-align: justify;
  line-height: 1.2;
  padding-bottom: 16px;
}
.historia__imagem1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.historia__img1, .historia__img2 {
  border-radius: 4px;
  box-shadow: 0.3px 0.3px 5px #000000;
}
.historia__figcaption1 {
  font-family: "Roboto-condensed", arial, cursive;
  font-style: italic;
  padding: 4px;
}
.historia__imagem2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.historia__figcaption2 {
  font-family: "Roboto-condensed", arial, cursive;
  text-align: center;
  font-style: italic;
  padding: 4px;
}

.fundador__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 48px;
}
.fundador__texto {
  width: 80%;
  height: fit-content;
}
.fundador__title {
  font-family: "PoiretOne", arial cursive;
  font-size: 2.5rem;
  font-weight: bolder;
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.fundador__boxquote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 16px;
  box-shadow: 0.3px 0.3px 5px #000000;
  background: url("/image/fundador_spz_logo_700px.webp");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fundador__p {
  width: 50%;
  font-family: "Roboto-condensed", arial, cursive;
  font-size: 1.5rem;
  text-indent: 48px;
  padding-top: 8px;
  text-align: justify;
  line-height: 1.2;
}
.fundador__imagem-citacao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.fundador__img {
  border-radius: 5px;
}
.fundador__blockquote {
  font-family: "ShadowsIntoLightTwo", arial, cursive;
  font-size: 1.5rem;
  text-align: center;
}

.evolucao__container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}
.evolucao__container-img {
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 2.5rem;
  padding: 2rem 10rem;
}
.evolucao__title {
  font-family: "PoiretOne", arial cursive;
  font-size: 3.5rem;
  color: #0d0d0d;
  text-align: center;
  font-weight: 900;
  padding: 16px;
}
.evolucao__img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0.3px 0.3px 5px #000000;
}
.evolucao__container-txt {
  height: 25vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: url("/image/evolucao_bg1024px.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}
.evolucao__p {
  max-width: 60%;
  font-family: "Roboto-condensed", arial, cursive;
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 400;
  text-indent: 48px;
  text-align: center;
  line-height: 1.5;
}
.evolucao__link {
  text-decoration: none;
  color: #f21d2f;
  transition: all 0.3s ease;
}
.evolucao__link:hover {
  color: #808080;
  text-decoration: underline;
}

.curiosidades__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 32px;
  width: 70%;
  margin: auto;
  background-color: #0d0d0d;
  background: url("/image/curiosidades_bg1024px.webp");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.curiosidades__title {
  width: 100%;
  text-align: start;
  font-family: "PoiretOne", arial cursive;
  font-size: 2.5rem;
  color: #f2f2f2;
  font-weight: bolder;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 8px;
}
.curiosidades__boxcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /*ESPAÇO ENTRE AS LINHAS DA CAIXA*/
}
.curiosidades__itenscontainer {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  width: 100%;
  max-width: 1000px;
  padding-top: 32px;
}
.curiosidades__itenscontainer2 {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  width: 100%;
  max-width: 700px;
}
.curiosidades__item {
  min-height: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  padding: 8px;
  box-shadow: 0px 0px 10px #808080;
}
.curiosidades__itemtitle {
  text-align: center;
  padding: 16px;
}
.curiosidades__p {
  font-family: "PoiretOne", arial cursive;
  font-size: 1.5rem;
  color: #f2f2f2;
  font-weight: 700;
  text-indent: 16px;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 16px;
}
.curiosidades__linkcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 10rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.curiosidades__link1, .curiosidades__link2, .curiosidades__link3 {
  height: 400px;
  width: 200px;
  text-decoration: none;
  font-family: "PoiretOne", arial cursive;
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2px 5px;
}
.curiosidades__link1:hover, .curiosidades__link2:hover, .curiosidades__link3:hover {
  transform: scale(1.1);
  color: #f21d2f;
}
.curiosidades__link1 {
  background: url("/image/curiosidades_peter600px.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.curiosidades__link2 {
  background: url("/image/curiosidades_loic600px.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.curiosidades__link3 {
  background: url("/image/curiosidades_annika600px.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*




  &__lista {
    font-family: variables.$font3;
    font-size: variables.$font-m;
    line-height: 1.8;
    padding: variables.$spacing-md;
  }

  &__item {
    list-style: none;
  }

  &__linkcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: variables.$spacing-sm;
  }

  &__link {
    text-decoration: none;
    color: variables.$cor6;
    display: inline-block;
    transition: 0.3s ease;
  }

  &__link:hover {
    transform: scale(1.1);
    color: variables.$cor2;
    font-weight: bold;
    text-decoration: underline;
  }

}
*/
.galeria {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}
.galeria__container {
  max-width: 650px;
  margin: 0 auto;
}
.galeria__title {
  text-align: center;
  margin-bottom: 2rem;
}
.galeria img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

/*# sourceMappingURL=style.css.map */
