@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto-condensed';
    src: url('fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hydro';
    src: url('fonts/hydrosquad.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #f2f2f2;
    --cor1: #808080;
    --cor3: #F21d2f;
    --cor4: #590212;
    --cor5: #27080D;
    --cor6: #0D0D0D;
    --font0: arial, verdana, helvetica, sans-serif;
    --font1: 'Roboto-condensed', cursive;
    --font2: 'hydro', cursive;
}

a.externo::after{
    content: '\1F517';
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to top, var(--cor3), black);
}

#banner {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    background-color: white;
}

nav {
    position: sticky;
    top: 0;
    background-color: black;
    font-family: var(--font2);
    font-size: 1.8em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 0.5em 1em;
    box-sizing: border-box;
    overflow-x: auto;
    z-index: 1000;
}

nav > a {
    text-decoration: none;
    color: #f2f2f2;
    text-decoration: none;
    text-shadow: 0.3px 0.3px 0.5px var(--cor0);
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: var(--cor3) ;
    transition: text-decoration 0.5s ease;
    text-decoration-thickness: 2px;
}

main {
    min-width: 400px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);
    border-radius: 0 0 10px 10px;
    background-color: var(--cor0);
}

h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: var(--font2);
    text-align: center;
    font-size: 4.5em;
    font-weight: normal;
    color: #F21d2f;
    text-shadow: 0.5px 0.5px 0.8px var(--cor4);
    text-decoration: underline;
}

#historia p {
    font-family: var(--font1);
    font-size: 1.2em;
    text-align: justify;
    text-indent: 60px;
    line-height: 1.5em;
    padding-bottom: 30px;
}

.imagens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#team {
    display: flex;
    margin: auto;
    max-width: 90%;
}

#stumpjumper_img {
    display: flex;
    margin: auto;
    max-width: 90%;
    padding-bottom: 20px;
}

#stumpjumper_img2 {
    display: flex;
    margin: auto;
    max-width: 90%;
    padding-bottom: 20px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: var(--font2);
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    color: #F21d2f;
    text-shadow: 0.5px 0.5px 0.8px var(--cor4);
    text-decoration: underline;    
}

#fundador p {
    font-family: var(--font1);
    font-size: 1.2em;
    text-align: justify;
    text-indent: 60px;
    line-height: 1.5em;
    padding-bottom: 30px;   
}

.citacao-container {
    background-color: var(--cor5);
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1.5em;
}

blockquote {
    color: var(--cor0);
    font-style: italic;
    font-size: 2em;
    max-width: 500px;
}

#mike_img {
    display: flex;
    margin: auto;
    max-width: 90%;
    padding-bottom: 20px;
    border-radius: 10px;
}

#evolucao p {
    font-family: var(--font1);
    font-size: 1.2em;
    text-align: justify;
    text-indent: 60px;
    line-height: 1.5em;
    padding-bottom: 30px;
}

#evolucao a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor2);
}

#evolucao a:hover{
    text-decoration: underline;
    text-decoration-color: var(--cor3) ;
    transition: text-decoration 0.5s ease;
    text-decoration-thickness: 2px;
}

#box-images {
    background-image: linear-gradient(to top, var(--cor0), var(--cor6));
    padding-bottom: 20px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 0px 20px var(--cor5);
}

#top-image {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

#top-image img {
    max-width: 90%;
    margin: auto;
    border-radius: 8px ;
}

.imagens-container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 95%;
    margin: 0 auto;
}

.imagens-container2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#curiosidades li {
    font-family: var(--font1);
    font-size: 1.2em;
    text-align: center;
    text-indent: 60px;
    line-height: 1em;
    padding-bottom: 30px;  
    list-style: none;
}

#curiosidades a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor2);
}

#curiosidades a:hover {
    text-decoration: underline;
    text-decoration-color: var(--cor3) ;
    transition: text-decoration 0.5s ease;
    text-decoration-thickness: 2px;
}

.imagens-container3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 95%;
    margin: 0 auto;
}

.imagens-container3 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#galeria p {
    font-family: var(--font1);
    font-size: 1.2em;
    text-align: justify;
    text-align: center;
    text-indent: 60px;
    line-height: 1.5em;
    padding-bottom: 30px;
}

#galeria-imagens {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    gap: 16px;
    padding: 20px 0;
}

#galeria-imagens picture {
    display: block;
}

#galeria-imagens img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#galeria-imagens img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.galeria-item {
    position: relative;
    overflow: hidden;
}

.galeria-item figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6); /* fundo preto translúcido */
    color: white;
    font-family: var(--font1);
    font-size: 0.9em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.galeria-item:hover figcaption {
    opacity: 1;
    border-radius:  4px 4px 0px 0px;
}

footer#contato {
    background-color: #111;
    color: white;
    padding: 30px;
    font-family: var(--font1);
}

.linha-topo {
    text-align: center;
    margin-bottom: 40px;
}

.linha-centro a {
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    color: #f2f2f2;
    text-decoration: none;
    text-shadow: 0.3px 0.3px 0.5px var(--cor0);
}

.linha-centro a:hover {
    text-decoration: underline;
    text-decoration-color: var(--cor3) ;
    transition: text-decoration 0.5s ease;
    text-decoration-thickness: 2px;
}

.linha-centro {
    text-align: center;  
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.linha-centro p {
    flex: 1;
    min-width: 200px;
}

.form-contato {
    text-align: center;
    margin-bottom: 20px;
}

.form-contato input {
    padding: 8px;
    width: 250px;
    max-width: 90%;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
}

#botao {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#botao:hover {
    background-color: darkred;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 20px;
}

.redes-sociais a {
    color: white;
    font-size: 32px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.redes-sociais a:hover {
    transform: scale(1.2);
    color: crimson;
}

.linha-rodape {
    text-align: center;
    font-size: 0.9em;
    opacity: 0.7;
    }