
/*FLEXBOX PADRÃO*/
@mixin flex-center($justify: center, $align: center, $direction: row, $wrap: wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

/*BACKGROUND*/
@mixin background-responsive($nome-imagem, $size: cover, $position: center center) {
  background: url("../image/#{$nome-imagem}.webp");
  background-size: $size;
  background-position: $position;
  background-repeat: no-repeat;
}

/*MEDIA QUERIES*/
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 1024px) {
      @content;
    }
  }
}