@use "../base/fonts";

/*FONTES*/
$font1: "ShadowsIntoLightTwo", arial, cursive;
$font2: "PoiretOne", arial cursive;
$font3: "Roboto-condensed", arial, cursive;


/*BACKGROUNDS*/


/*CORES*/
$cor00: transparent;
$cor0: #f2f2f2;
$cor1: #808080;
$cor2: #f21d2f;
$cor3: #590212;
$cor4: #27080d;
$cor5: #0d0d0d;
$cor6: #000000;

/*TAMAHO DAS FONTES*/
$font-xxl: 3.5rem;
$font-xl: 2.5rem;
$font-l: 2rem;
$font-m: 1.5rem;
$font-s: 1.2rem;
$font-xs: 1rem;

/*ESPAÇAMENTO DE LINHA*/
$line-height-base: 1.2;

/*ESPAÇAMENTOS*/
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

$spacing-top-bottom: 20px 0;
$spacing-right-left: 0 5px;

/*SOMBRAS*/
$title-shadow: 0px 0px 0.5px $cor5;
$text-shadow: 0.2px 0.2px 2px $cor3;
$box-shadow1: 1px 1px 20px $cor6;
$box-shadow2: 0.5px 0.5px 5px $cor6;

/*BREAKPOINTS*/
$breakpoint-sm: 510px;
$breakpoint-md: 890px;
$breakpoint-lg: 1024px;

$gradient-radial1: radial-gradient(circle, $cor0 0%, $cor3 100%);
$gradient-radial2: radial-gradient(circle, $cor0 20%, $cor2 300%);