@use "../utils/variables";
@use "../utils/mixins";

.footer {
  &__container {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 2rem;
    padding: variables.$spacing-md;
    background-color: variables.$cor6;

    @include mixins.respond-to(md) {
      @include mixins.flex-center($direction: column);
      text-align: center;
      gap: 1rem;
    }
  }

  &__textcontainer {
    @include mixins.flex-center($direction: column);
  }

  &__p {
    font-family: variables.$font3;
    font-size: variables.$font-s;
    color: variables.$cor0;
    text-align: center;
    padding: variables.$spacing-xs;
  }

  &__autor {
    font-family: variables.$font3;
    color: variables.$cor0;
    font-weight: 500;
    font-size: variables.$font-m;
  }

  &__link,
  &__redessociais a {
    text-decoration: none;
    color: variables.$cor0;
  }

  &__redessociais {
    @include mixins.flex-center;
    gap: 1.5rem;
    margin-bottom: 20px;
  }

  &__redessociais a {
    color: white;
    font-size: variables.$font-xl;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  &__redessociais a:hover,
  &__link:hover {
    transform: scale(1.4);
    color: crimson;
  }
}
