@use "../utils/variables";
@use "../utils/mixins";
@use "../components/title";
@use "../components/paragraph";

.curiosidades {
  &__container {
    min-width: 100%;
    @include mixins.flex-center($direction: column);
    padding: variables.$spacing-xxl;

    @include mixins.background-responsive("curiosidades_bg_sworks_1900px");

    @include mixins.respond-to(lg) {
      @include mixins.background-responsive("curiosidades_bg_sworks_1024px");
    }

    @include mixins.respond-to(md) {
      @include mixins.background-responsive("curiosidades_bg_sworks_890px");
      padding: variables.$spacing-lg;
    }

    @include mixins.respond-to(sm) {
      @include mixins.background-responsive("curiosidades_bg_sworks_590px");
    }
  }

  &__textcontainer {
    @include mixins.flex-center($justify: flex-end);

    @include mixins.respond-to(lg) {
      @include mixins.flex-center;
    }
  }

  &__p {
    @include paragraph.paragraph($height: 1.5);
    max-width: 40%;
    color: variables.$cor0;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: variables.$box-shadow2;

    @include mixins.respond-to(lg) {
      max-width: 90%;
      text-align: center;
    }
    @include mixins.respond-to(md) {
      padding: variables.$spacing-sm;
    }
  }

  &__title {
    @include title.title($border: none);
    text-align: center;
    margin: auto;
  }

  &__atletascontainer {
    @include mixins.flex-center;
    padding-bottom: variables.$spacing-lg;

    @include mixins.respond-to(lg) {
      @include mixins.flex-center;
      margin: auto;
      max-width: 75%;
    }
    @include mixins.respond-to(md) {
      @include mixins.flex-center($direction: column);
      margin: auto;
      max-width: 95%;
    }
  }

  &__atleta1 {
    @include mixins.flex-center(
      $justify: flex-end,
      $align: flex-start,
      $wrap: nowrap
    );
    @include mixins.background-responsive("curiosidades_peter600px");
    min-height: 550px;
    min-width: 300px;
    transition: 0.3s ease;

    @include mixins.respond-to(lg) {
      min-height: 450px;
      min-width: 200px;
    }

    @include mixins.respond-to(md) {
      @include mixins.background-responsive(
        "curiosidades_peter600px",
        $position: top center
      );
      min-height: 250px;
      min-width: 450px;
    }

    @include mixins.respond-to(sm) {
      @include mixins.background-responsive(
        "curiosidades_peter400px",
        $position: top center
      );
      min-height: 150px;
      min-width: 350px;
    }
  }

  &__atleta2 {
    @include mixins.flex-center(
      $justify: flex-end,
      $align: flex-start,
      $wrap: nowrap
    );
    @include mixins.background-responsive("curiosidades_loic600px");
    min-height: 550px;
    min-width: 300px;
    transition: 0.3s ease;

    @include mixins.respond-to(lg) {
      min-height: 450px;
      min-width: 200px;
    }

    @include mixins.respond-to(md) {
      @include mixins.background-responsive(
        "curiosidades_loic600px",
        $position: top center
      );
      min-height: 250px;
      min-width: 450px;
    }

    @include mixins.respond-to(sm) {
      @include mixins.background-responsive(
        "curiosidades_loic400px",
        $position: top center
      );
      min-height: 150px;
      min-width: 350px;
    }
  }

  &__atleta3 {
    @include mixins.flex-center(
      $justify: flex-end,
      $align: flex-start,
      $wrap: nowrap
    );
    @include mixins.background-responsive("curiosidades_annika600px");
    min-height: 550px;
    min-width: 300px;
    transition: 0.3s ease;

    @include mixins.respond-to(lg) {
      min-height: 450px;
      min-width: 200px;
    }

    @include mixins.respond-to(md) {
      @include mixins.background-responsive(
        "curiosidades_annika600px",
        $position: top center
      );
      min-height: 250px;
      min-width: 450px;
    }

    @include mixins.respond-to(sm) {
      @include mixins.background-responsive(
        "curiosidades_annika400px",
        $position: top center
      );
      min-height: 150px;
      min-width: 350px;
    }
  }

  &__atleta {
    text-decoration: none;
    font-family: variables.$font3;
    font-size: variables.$font-s;
    color: variables.$cor5;
    padding-right: 0.5rem;
  }

  &__atleta1:hover,
  &__atleta2:hover,
  &__atleta3:hover {
    transform: scale(1.1);
    box-shadow: variables.$box-shadow1;

    @include mixins.respond-to(md) {
      transform: scale(1.05);
    }
    @include mixins.respond-to(sm) {
      transform: scale(1.05);
    }
  }
}
