@use "../utils/variables";
@use "../utils/mixins";

.evolucao {
  &__container {
    @include mixins.flex-center($direction: column);
    padding-top: 2.5rem;
  }

  &__container-img {
    @include mixins.flex-center($justify: space-evenly, $wrap: nowrap);
    gap: 2.5rem;
    padding: 2rem 10rem;

    @include mixins.respond-to(lg) {
      max-width: 90%;
      @include mixins.flex-center;
      gap: 1rem;
      padding: 1rem;
    }
    @include mixins.respond-to(md) {
      max-width: 90%;
      @include mixins.flex-center;
      gap: 1rem;
      padding: 1rem;
    }
    @include mixins.respond-to(sm) {
      max-width: 90%;
      @include mixins.flex-center;
      gap: 1rem;
      padding: 1rem;
    }
  }

  &__title {
    font-family: variables.$font2;
    font-size: variables.$font-xxl;
    color: variables.$cor5;
    text-align: center;
    font-weight: 900;
    padding: variables.$spacing-md;

    @include mixins.respond-to(md) {
      font-size: variables.$font-xl;
    }

    @include mixins.respond-to(sm) {
      font-size: variables.$font-xl;
    }
  }

  &__img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: variables.$box-shadow2;

    @include mixins.respond-to(lg) {
      width: 400px;
      height: 400px;
    }
    @include mixins.respond-to(md) {
      width: 300px;
      height: 300px;
    }
    @include mixins.respond-to(sm) {
      width: 250px;
      height: 250px;
    }
  }

  &__container-txt {
    max-width: 100%;
    @include mixins.flex-center;

    background: url("/image/evolucao_bg_img1900px.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include mixins.respond-to(lg) {
      background: url("/image/evolucao_bg_img1024px.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    @include mixins.respond-to(md) {
      background: url("/image/evolucao_bg_img890px.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    @include mixins.respond-to(sm) {
      background: url("/image/evolucao_bg_img590px.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__p {
    max-width: 40%;
    font-family: variables.$font3;
    color: variables.$cor0;
    font-size: variables.$font-m;
    font-weight: 400;
    text-indent: variables.$spacing-xxl;
    text-align: justify;
    line-height: 1.5;
    padding: variables.$spacing-md;

    @include mixins.respond-to(lg) {
      max-width: 100%;
    }

    @include mixins.respond-to(md) {
      max-width: 100%;
      text-align: center;
    }

    @include mixins.respond-to(sm) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__link {
    text-decoration: none;
    color: variables.$cor2;
    transition: all 0.3s ease;
  }

  &__link:hover {
    color: variables.$cor1;
    text-decoration: underline;
  }
}
