@use "../utils/variables";
@use "../utils/mixins";
@use "../components/title";
@use "../components/paragraph";

.fundador {
  &__container {
    @include mixins.flex-center;
    padding: variables.$spacing-xxl;

    @include mixins.respond-to(lg) {
      padding: variables.$spacing-xl;
    }
    @include mixins.respond-to(md) {
      padding: variables.$spacing-md;
    }
    @include mixins.respond-to(sm) {
      padding: variables.$spacing-sm;
    }
  }

  &__texto {
    width: 80%;

    @include mixins.respond-to(lg) {
      width: 100%;
    }
  }

  &__title {
    @include title.title;
    margin-bottom: variables.$spacing-md;

    @include mixins.respond-to(md) {
      text-align: center;
    }
  }

  &__boxquote {
    @include mixins.flex-center;
    display: flex;
    padding: variables.$spacing-md;
    box-shadow: variables.$box-shadow2;

    @include mixins.background-responsive(
      "fundador_spz_logo_700px",
      $size: contain,
      $position: center center
    );
    background-attachment: fixed;

    @include mixins.respond-to(lg) {
      @include mixins.flex-center;
      text-align: justify;
      background-position: center center;
    }
    @include mixins.respond-to(md) {
      flex-direction: column;
      @include mixins.background-responsive(
        "fundador_spz_logo_500px",
        $size: contain,
        $position: center center
      );
      background-attachment: fixed;
    }

    @include mixins.respond-to(sm) {
      @include mixins.background-responsive(
        "fundador_spz_logo_400px",
        $size: contain,
        $position: center center
      );
      background-attachment: fixed;
    }
  }

  &__p {
    max-width: 50%;
    @include paragraph.paragraph;

    @include mixins.respond-to(lg) {
      max-width: 90%;
    }
  }

  &__imagem-citacao {
    @include mixins.flex-center($justify: flex-end, $direction: column);
  }

  &__img {
    border-radius: 5px;
  }

  &__blockquote {
    font-family: variables.$font1;
    font-size: variables.$font-m;
    text-align: center;
  }
}
