@use "../utils/variables";
@use "../utils/mixins";
@use "../components/_title";

.galeria {
  padding: 4rem 2rem;

  &__container {
    max-width: 650px;
    margin: 0 auto;
  }

  &__title {
    @include mixins.flex-center;
    @include title.title;
    margin-bottom: 1rem;
  }

  &__p {
    font-family: variables.$font3;
    font-size: variables.$font-m;
    padding-top: variables.$spacing-sm;
    text-align: center;
    line-height: variables.$line-height-base;
    padding-bottom: variables.$spacing-md;
  }

  &__legenda1 {
    font-family: variables.$font2;
    font-size: 1.2rem;
    color: variables.$cor0;
    position: absolute;
    bottom: 25px;
    width: 100%;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  &__legenda {
    font-family: variables.$font2;
    font-size: 1.2rem;
    color: variables.$cor0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  &__img {
    width: 100%;
    display: block;
    border-radius: 8px;
  }
}

.swiper-slide figure {
  position: relative;
}
