@use "../utils/variables";
@use "../utils/mixins";
@use "../components/title";
@use "../components/paragraph";

#historia {
  padding-bottom: 2rem;
}

.historia {
  &__container {
    @include mixins.flex-center;
    max-width: 80%;
    margin: auto;
    padding: variables.$spacing-sm;

    @include mixins.respond-to(lg) {
      max-width: 100%;
      @include mixins.flex-center($align: flex-end);
    }
  }

  &__texto {
    width: 90%;
    @include mixins.respond-to(lg) {
      max-width: 95%;
      padding: variables.$spacing-md;
    }
    @include mixins.respond-to(md) {
      max-width: 100%;
      padding: variables.$spacing-sm;
    }
  }

  &__title {
    @include title.title;
  }

  &__p {
    @include paragraph.paragraph;
  }

  &__imagem {
    @include mixins.flex-center($direction: column);
  }

  &__figcaption {
    font-family: variables.$font2;
    font-size: 0.9rem;
    font-weight: 600;
    color: variables.$cor0;
    position: absolute;
    bottom: 5px;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.6);
    color: variables.$cor0;
    font-size: 0.9rem;
    text-align: center;
  }
}

/*
.swiper-button-next,
.swiper-button-prev {
  color: variables.$cor6; // cor das setas (ajusta se quiser)
  top: auto; // tira o posicionamento no topo
  bottom: 10px; // posiciona as setas embaixo da imagem
  width: 30px; // tamanho das setas
  height: 30px;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    bottom: 5px; // ajusta um pouco mais em telas pequenas
  }
}
*/
