@use "../utils/variables";
@use "../utils/mixins";
@use "../components/button";
@use "../components/title";
@use "../components/paragraph";

.home {
  &__container {
    @include mixins.flex-center($justify: space-evenly);
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    gap: 4rem;
    padding: 4rem 1rem;

    @include mixins.background-responsive(
      "header1900px",
      $position: center right
    );

    @include mixins.respond-to(lg) {
      @include mixins.flex-center($direction: column);
      gap: 2rem;

      @include mixins.background-responsive(
        "header1024px",
        $position: center right
      );
    }

    @include mixins.respond-to(md) {
      @include mixins.flex-center($direction: column, $align: justify);
      gap: 1.8rem;

      @include mixins.background-responsive(
        "header890px",
        $position: center center
      );
    }
    @include mixins.respond-to(sm) {
      gap: 1.5rem;

      @include mixins.background-responsive(
        "header590px",
        $position: center center
      );
    }
  }

  &__texto {
    flex: 1;
    text-align: center;

    @include mixins.respond-to(lg) {
      background-color: rgba(0, 0, 0, 0.4);
      padding: 2rem;
      border-radius: 15px;
    }
  }

  &__title {
    @include title.title($border: none, $color: variables.$cor0);
    text-align: center;

    @include mixins.respond-to(lg) {
      font-size: variables.$font-xxl;
    }

    @include mixins.respond-to(md) {
      font-size: variables.$font-xl;
    }
  }

  &__p {
    @include paragraph.paragraph ($indent: none);
    color: variables.$cor0;
  }

  &__botao {
    @include button.botao;
  }

  &__imagem {
    flex: 1;
  }

  &__img {
    border-radius: 5px;
    box-shadow: variables.$box-shadow1;
  }
}
