@use "../utils/variables";
@use "../utils/mixins";

.nav {
  &__container {
    height: fit-content;
    width: 100%;
    @include mixins.flex-center($justify: space-between);
    border-bottom: 2px solid variables.$cor3;
    padding: 1rem 3rem;

    @include mixins.respond-to(md) {
      @include mixins.flex-center;
    }

    @include mixins.respond-to(sm) {
      @include mixins.flex-center;
    }
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: variables.$cor5;
    cursor: pointer;
    padding-left: variables.$spacing-md;

    @include mixins.respond-to(sm) {
      display: block;
    }
  }

  &__lista {
    list-style: none;
    font-family: variables.$font2;
    font-size: variables.$font-s;
    font-weight: bold;
    @include mixins.flex-center;

    @include mixins.respond-to(sm) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: variables.$cor6;
      padding: 1rem 0;
    }

    &.active {
      display: flex;
    }
  }

  &__item {
    padding: variables.$spacing-sm;
  }

  &__link {
    color: variables.$cor5;
    text-decoration: none;
    display: inline-block;
    text-shadow: variables.$title-shadow;
    transition: color 0.3s ease;
    display: inline-block;
    position: relative;
  }

  &__link:hover {
    color: variables.$cor3;
    transform: scale(1.2);
  }

  &__link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: variables.$cor5;
    transition: width 0.4s;
    position: absolute;
    bottom: -4px;
    left: 0;
  }

  &__link:hover::after {
    width: 100%;
  }
}
