@use "../utils/variables";
@use "../utils/mixins";

.nav {
  &__container {
    height: fit-content;
    width: 100%;
    @include mixins.flex-center;
    background-color: variables.$cor6;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  &__lista {
    @include mixins.flex-center;
    gap: 20px;
  }

  &__item {
    font-family: variables.$title-font;
    font-size: variables.$font-l;
    list-style: none;
    padding: 5px;
  }

  &__link {
    color: variables.$cor0;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  &__link:hover {
    background-color: variables.$cor0;
    color: variables.$cor6;
    text-decoration: underline;
  }
}
