@use "../utils/variables";
@use "../utils/mixins";

@mixin title($padding: 16px, $color: variables.$cor6, $border:1px solid variables.$cor6) {
    font-family: variables.$font2;
    font-size: variables.$font-xl;
    color: $color;
    font-weight: bold;
    border-bottom: $border;
    padding: $padding;
}