@font-face {
  font-family: "Roboto-condensed";
  src: url("../../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hydro";
  src: url("../../fonts/hydrosquad.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
