@font-face {
  font-family: "Roboto-condensed";
  src: url("../../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ShadowsIntoLightTwo";
  src: url("../../fonts/ShadowsIntoLightTwo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PoiretOne";
  src: url("../../fonts/PoiretOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}